body{
	background-color: rgba(0,0,0,.2);
	background-clip: padding-box;
	min-height: 28px;
	padding: 20px 0 0;
}

.panel-heading{
	height: 51px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
}
.panel{
	padding: 0px;
	height: 390px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #d8d8d8;
	border-bottom-width: 2px;
	border-top-width: 0;
	vertical-align: top;
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px 1px 1px 6px;
	min-height: 28px;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}
.panel-body{
	height: 100%;
	padding-bottom: 65px;
}
.panel:hover{
	background-color: rgba(245,245,245, 0.8);
}
blockquote{
	word-break: break-all;
}
img{
	height: 99px;
	width: 100%;
	max-width: 170px;
}
.top-right{
	position: absolute;
	bottom: 61px;
	right: 7px;
	cursor: pointer;
}


html, input, textarea, h1, h3 {
        font-weight: 300;
        font-family: 'Roboto';
}
.wrapper {
	margin: 0 auto;
	width: 320px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
        display: block;
        width: 100%;
        height: 60px;
        border: 1px solid #eee;
        margin: 1em 0;
        padding: 1em;
        color: #666;
        line-height: normal;
        font-size: 100%;
        letter-spacing: normal;
		word-spacing: normal;
		text-transform: none;
		text-indent: 0px;
		text-shadow: none;
		text-align: start;

        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;

        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;

        -webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;
}

label {
        font-size: 0.75em;
        color: #666;
}

input:focus,
textarea:focus {
                border: 1px solid #ccc;
                color: #333;

                -webkit-outline: none;
                -moz-outline: none;
                outline: none;
        }

/* Demo FloatLabel.js Styling */

.js-float-label-wrapper label {
        font-weight: 500;
}

.js-float-label-wrapper.focused label,
.js-float-label-wrapper.populated label {
        color: #999;
}

.js-float-label-wrapper.focused.populated label {
        color: #666;
}